<div class="container">
    <div class="row justify-content-between mt-4">
        <div class="col-md-6">
            <p><a href="#">دور النشر</a></p>
        </div>
        <div class="col-md-6 text-end">
            <p><a href="#">المزيد...</a></p>
        </div>
    </div>

    <div class="row mt-2 mb-4">
        <div class="col-md-2 justify-content-center item">
            <img src="../assets/icons/ghk.png" alt="">
            <h4 class="text-center mt-2"> <a href="">دار الشروق </a></h4>
        </div>

        <div class="col-md-2 justify-content-center item">
            <img src="../assets/icons/nj.png" alt="">
            <h4 class="text-center mt-2"> <a href="">الساقي</a>  </h4>
        </div>

        <div class="col-md-2 justify-content-center item">
            <img src="../assets/icons/utrr.png" alt="">
            <h4 class="text-center mt-2"><a href="">دارك </a></h4>
        </div>

        <div class="col-md-2 justify-content-center item">
            <img src="../assets/icons/uteggg.png" alt="">
            <h4 class="text-center mt-2"><a href="">دار التنوير</a>  </h4>
        </div> 

        <div class="col-md-2 justify-content-center item">
            <img src="../assets/icons/yyy.png" alt="">
            <h4 class="text-center mt-2"> <a href="">المركز الثقافي العربي</a> </h4>
        </div>

        <div class="col-md-2 justify-content-center item">
            <img src="../assets/icons/iiiif.png" alt="">
            <h4 class="text-center mt-2"><a href="">دار الادب</a></h4>
        </div>
    </div>
</div>