<div class="container-fluid m-0 p-0">
  <header class="container mb-4">
    <div class="col-md-12 ">
      <div class="row">
      
        <app-header></app-header>
      </div>
    </div>
  </header>
  <div class="row ">
    <div class="col-md-12 my-4 px-0">
      <app-hero></app-hero>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <app-most-order-books></app-most-order-books>
    </div>
    <div class="col-md-12">
      <app-ad-book></app-ad-book>
    </div>
    <div class="col-md-12">
      <app-book></app-book>
    </div>
    <div class="col-md-12">
      <app-publisher></app-publisher>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </footer>
</div>
