    <div class="row md-4 mt-4 ">
        <div class="col-md-4 x">
            <img src="./assets/icons/Untitled-1.png"/>
        </div>

        <div class="col-md-8 ">     
                <div class="form-outline d-flex">
                  <input type="search" class="form-control" placeholder = "ابحث باسم الكتاب أو المؤلف"/>
                  <button type="button" >
                    <fa-icon [icon]="Search"> </fa-icon>
                </button>
                </div>
        </div>
    </div>

