<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <p><a href="#">اصدارات جديدة</a></p>
        </div>
        <div class="col-md-6 text-end">
            <p><a href="#">المزيد...</a></p>
        </div>
    </div>

    <div class="row">       
         <div class="col-md-2 ">
            <a href=""><img class="bookImg" src="../assets/icons/sdfsdfhghhh.png" alt=""></a>
            <div class="d-flex justify-content-center mt-2">
                <span>(2)</span>
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
            </div>
            <p class="text-center">الكاتب : تامر أمين</p>
                <span class="orignColor">$19.00</span>
                <span class="discount m-3">$12.00</span>
        </div>

        <div class="col-md-2 ">
            <a href=""><img class="bookImg" src="../assets/icons/sdfsdfsdfs.png" alt=""></a>
            <div class="d-flex justify-content-center mt-2">
                <span>(2)</span>
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
            </div>
            <p class="text-center">الكاتب : تامر أمين</p>
                <span class="orignColor">$19.00</span>
                <span class="discount m-3">$12.00</span>
        </div>

        <div class="col-md-2 ">
            <a href=""><img class="bookImg" src="../assets/icons/sdssd.png" alt=""></a>
            <div class="d-flex justify-content-center mt-2">
                <span>(2)</span>
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
            </div>
            <p class="text-center">الكاتب : تامر أمين</p>
                <span class="orignColor">$19.00</span>
                <span class="discount m-3">$12.00</span>
        </div>

        <div class="col-md-2 ">
            <a href=""><img class="bookImg" src="../assets/icons/5433.png" alt=""></a>
            <div class="d-flex justify-content-center mt-2">
                <span>(2)</span>
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
            </div>
            <p class="text-center">الكاتب : تامر أمين</p>
                <span class="orignColor">$19.00</span>
                <span class="discount m-3">$12.00</span>
        </div>

        <div class="col-md-2 ">
            <a href=""><img class="bookImg" src="../assets/icons/432.png" alt=""></a>
            <div class="d-flex justify-content-center mt-2">
                <span>(2)</span>
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
            </div>
            <p class="text-center">الكاتب : تامر أمين</p>
                <span class="orignColor">$19.00</span>
                <span class="discount m-3">$12.00</span>
        </div>

        <div class="col-md-2 ">
            <a href=""><img class="bookImg" src="../assets/icons/123.png" alt=""></a>
            <div class="d-flex justify-content-center mt-2">
                <span>(2)</span>
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
                <img src="../assets/icons/icon-star.svg" alt="">
            </div>
            <p class="text-center">الكاتب : تامر أمين</p>
                <span class="orignColor text-center">$19.00</span>
                <span class="discount m-3 text-center">$12.00</span>
        </div> 

 
    </div>
</div>

