
<div class="container mt-5">
    <h1 class="fs-5 ">ادارة التصنيفات</h1>
    <form [formGroup]="CategoryForm" (ngSubmit)="addCategory()">
        <p class="fs-6 text-center">اضافة قسم جديد</p>
        <div class="mb-3">
            <label class="mb-2">اسم القسم </label>
            <input class="form-control" name="name" formControlName="name" type="text" />
        </div>
        <button class="btn btn-primary m-2" type="submit">اضافة</button>
    </form>

    <p class="fs-6 text-center"> جميع التصنيفات</p>
    <hr>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col"> اسم التصنيف </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories; index as i">
                <td>{{i+1}}</td>
                <td>{{category.name}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onDelete(category.id)">حذف</button>
                </td>
                <td>
                    <button class="btn btn-success" (click)="OnUpdate">تعديل</button>
                </td>
            </tr>

        </tbody>
    </table>

        </div>
 