<div class="container">
<div class="row p-4">
    <div class="col-md-4 d-flex flex-column m-5 mb-0">
        <img src="./assets/icons/tyyew.png" width="250" >

        <div class="d-inline-flex flex-row mt-3" >
            <label class="text-white ms-3 pb-0">تابعنا على</label>
            <div><img src="./assets/icons/1.png"  width="25"  class="mx-1" ></div>
            <div><img src="./assets/icons/34.png" width="25" class="mx-1" ></div>
            <div><img src="./assets/icons/2.png"  width="25"  class="mx-1" ></div>
            <div><img src="./assets/icons/45.png" width="25" class="mx-1" ></div>
            <div><img src="./assets/icons/5.png"  width="25"  class="mx-1" ></div>
        </div>
        <div class=" mt-5">
            <label class="text-light fw-lighte fa">جميع الحقوق محفوظةشركة مكتبتي للنشر و التوزيع :2022</label>
        </div>
       
    </div>
    <div class="col-md-6 d-inline-flex flex-row justify-content-center m-5 mb-0">
      <div>
        <ul class="text-white" style="list-style: none;">
            <li class="fw-bold  mb-2">خدمة القراء</li>
            <li class="fa d-block my-2"><a [routerLink]="['BookSuggestion']">اقترح كتابا</a></li>
            <li class="fa d-block my-2"><a [routerLink]="['ContactUs']">اتصل بنا</a></li>
        </ul>
      </div>
      <div>
        <ul class="text-white" style="list-style: none;">
            <li class="fw-bold mb-2">حسابي</li>
            <li class="fa d-block my-2">حسابي</li>
            <li class="fa d-block my-2">طلباتي</li>
        </ul>
      </div>
      <div>
        <ul class="text-white" style="list-style: none;">
            <li class="fw-bold mb-2">معلومات</li>
            <li class="fa d-block my-2">الأسئلة الشائعة</li>
            <li class="fa d-block my-2">من نحن ؟</li>
            <li class="fa d-block my-2">الشروط والاحكام</li>
        </ul>
      </div>
    </div>
</div>
</div>